.DS_Store
*.swp
*~.nib
*~.xib
build/
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
release/
git/
src/.DS_Store
*.pbxuser
xcuserdata
*.xcworkspace
!scripts/yui/build/
frameworks/gdkit/build/
frameworks/gdkit/build/gdkit.build/
frameworks/gdkit/python/*.pyc
python/*.pyc
python/__nyi/*.pyc
python/__old/*.pyc
python/__test/*.pyc
python/simplejson/*.pyc
env
