a {
	color:#444;
}

a:hover {
	color:#000;
}

a.index {
	color:white;
}

a.index:hover {
	color:#efefef;
}

a.archive {
	color:#5f7489;
	//color:#275b8f;
	//color:#ff0066;
	//color:#895f7b;
}

a.archive:hover {
	color:#324659;
}

a.file {
	color:#555;
}

a.file:hover {
	color:#000;
}

.hidden {
	display:none;
}

.lineNumberColumr {
	border-right:solid 1px #444;
	padding:0 2px;
}

#lineNoWrapper {
	position:absolute;
	background-color:#ddd;
}

#actualLineNumbers {
	background-color:#ddd;
	float:left;
	position:relative;
	display:none;
	top:0;
}

body {
	margin:0;
	padding:0;
	width:100%;
	font-family:Monaco;
	font-size:11px;
}

.line {
	padding-left:8px;
}

.longline {
	background-color:#fad7ff;
  color:#ae00c8;
}

.difftextarea {
	display:none;
	width:1px;
	height:1px;
}

.delline, .oldfile {
	background-color:#fef3f3;
	color:#B00;
}

.addline, .newfile {
	background-color:#eafee9;
  color:#080;
}

table, table tr, table tr td {
	margin:0;
	padding:0;
	border-spacing:0;
}

.fileHeader, .firstFileHeader {
	height:21px;
	line-height:22px;
	color:white;
	display:block;
	padding-left:8px;
	background-color:#2b2b2b;
}

.fileHeader {
	margin-top:15px;
	border-top:solid 1px #ddd;
}

code .firsthunkheader, code .hunkheader {
	height:17px;
	line-height:18px;  
	font-size:9px;
	color:#111;
	padding-left:9px;
	margin-bottom:8px;
	background-color:#f7f7f7;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
}

code .hunkheader {
	margin-top:8px;
}

pre {
	width:100%;
	font-family:Monaco;
  font-size:11px;
	line-height:16px;
}

.addedWhitespace {
	background-color:rgba(0,255,0,0.8);
}

.removedWhitespace {
	background-color:rgba(255,0,0,0.5);
}

.binaryChange {
	height:17px;
	line-height:18px;  
	font-size:9px;
	color:#111;
	padding-left:8px;
	margin-bottom:8px;
	background-color:#f7f7f7;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
}

td.detailItemLabel {
	width:65px;
	text-align:right;
}

td.detailItem {
	padding-left:10px;
}

table.commitDetails {
	width:100%;
	margin-top:3px;
	margin-bottom:5px;
	font:11px Monaco;
}

tr.author {
	background-color:#ebfff0;
}

tr.sha {
	background-color:#eafeff;
}

table.commitDetails tr td {
	padding-top:2px;
}

#diffpre {
	margin-top:5px;
}

div.sep {
	display:block;
	height:1px;
	background-color:#eee;
}

table.monaco {
	font:11px Monaco;
}

#fileStatuses {
	margin-top:8px;
	margin-left:9px;
}

.fileStatus {
	display:block;
	text-align:right;
	padding:1px;
	padding-left:3px;
	padding-right:3px;
	line-height:14px;
	width:70px;
	text-align:center;
	color:#555;
}

#spacer {
	height:4px;
}

.changedFileStatus {
	background-color:#ffe8b6;
	border:solid 1px #d58301;
	color:#a1640e;
}

.changedFileStatus {
	background-color:#f3e6ff;
	border:solid 1px #651ca8;
	color:#651ca8;
}

.newFileStatus {
	background-color:#eafee8;
	border:solid 1px #709a15;
	color:#3c8700;
}

.removedFileStatus {
	background-color:#fef3f3;
	border:solid 1px #bd0e00;
	color:#bd0e00;
}

.renamedFileStatus {
	background-color:#e6f8ff;
	border:solid 1px #0185bc;
	color:#0185bc;
}

.statusFile {
	padding-left:18px;
}

.fileStatusList {
	list-style:none;
	margin:0;
	padding:0;
	margin-left:15px;
}

.fileStatusList li {
	margin-bottom:3px;
}


#commitMessageContainer {
	margin-left:9px;
}

span.renameFrom {
	color:#444;
}

span.ref {
	background-color:#F4F4F4;
	padding-left:5px;
	padding-right:5px;
	border:solid 1px #DDD;
}