<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Gity</string>
	<key>uuid</key>
	<string>513C858F-EFBD-4C06-A87E-4CC5E7CD39BB</string>
</dict>
</plist>
